*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(204, 204, 206);

}
.nav{
    background-color: yellow;
    color: white;
}
.nav ul{
    overflow: auto;
}
.nav li{
    float: left;
    margin: 3px 3px;
    list-style: none;
}
.nav li a{
    float: left;
    padding: 11px 8px;
    font-size: 20px;
    text-decoration: none;
}
.search{
    float: right;
    padding: 12px 75px;
}
.nav input{
    border: 2px solid black;
    border-radius: 12px;
    padding: 6px 4px;
}
.nav li a:hover{
    background-color: rgb(255, 8, 0);
}
.nav h4{

}
#logo{
    position: absolute;
    height: 20%;
    width: 20%;
    right: 40%;
    display: flex;
    /* background-color:white; */
    color: brown;
}
#logo img{
    position: relative;
    height: 30%;
    width: 30%;
}
.tiffincenter{
    height: 50%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: 20%;
}
#left{
    position: relative;
    height: 100%;
    width: 30%;
    background-color: green;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
#middle{
    position: absolute;
    height: 100%;
    width: 30%;
    right: 40%;
    font-size: large;
    /* background-color: yellow; */

}
#right{
    position: absolute;
    right: 0%;
    height: 100%;
    width: 40%;
    display: flex;
    /* background-color: blueviolet; */
}

.hours{
    position: absolute;
    left: 0%;
    top: 10%;
    font-size: large;
    margin-left: 10%;
}
.category{
    position: absolute;
    left: 0%;
    top: 53%;
    display: flex;
}
#p{
    position: absolute;
    left: 50%;
    top: 70%;
}
.review{
   
    position: absolute;
    right: 30%;
    display: flex;
}
#log{
    position: absolute;
    left: 50%;
    top: 100%;
}
