*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,bodY{
    height: 100%;
    width: 100%;
}
#circle{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 2px black solid;

}