*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1648324298657-63341093b4b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80);
    background-size: cover;
    background-position: center;
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1{
    color: white;
    font-family: gilroy;
    font-size: 70px;
    font-weight: 200;
    letter-spacing: 5px;
}
p{
    text-align: center;
    color: white;
}
button{
    margin-top: 20px;
    background-color: royalblue;
    border: none;
    padding: 10px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    
}