*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body
{
    height: 100%;
    width: 100%;
}
#main
{
    height: 100%;
    width: 100%;
    background-image: url(https://wallpapercave.com/wp/wp2599594.jpg);
    background-size: cover;
    background-position: center;
}
#side
{
    width: 30%;
    height: 100%;
    background-size: cover;
    background-color: #fff;
}

#upper
{
    
    position: relative;
    width: 100%;
    height: 50%;
    background-color: blue;
    background-size: cover;
    background-position: center;
}
#lower
{    width: 100%;
    height: 50%;
    background-color: red;
    padding: 7px;
}

#text
{
    position: absolute;
    top: 30%;
    left: 58%;
    width: 100%;
    font-family: "gilroy";
    font-size: 20px;
    color:white;
}
#text h5
{
    font-family: "gilroy";
    font-size: 20px;
    text-decoration: line-through ;
    color:red;
}