*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
#main
{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

}
#text
{
    position: absolute;
    text-align:center;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);

}
button{
    padding: 10px;
    margin-top: 15px;
    border: none;
}
#image img{
    position: absolute;
    width: 70%;
    left: 17%;
    bottom: -20%;

}
